.noti {
  text-align: center;
  margin: 0 auto;
  @keyframes notification {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    50% {
      transform: translateY(-120px);
      opacity: 1;
    }
    100% {
      transform: translateY(-110px);
      opacity: 1;
    }
  }

  @keyframes dissapear {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  div {
    font-size: 25px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    margin: 0 auto;
    position: fixed;
    border: 5px solid white;
    bottom: -80px;
    right: 100px;
    color: white;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    animation: notification 0.5s ease-out forwards,
      dissapear 0.5s ease-in forwards;
    animation-delay: 0.5s, 2s;
  }
}
